<mat-card class="card-product">
  <mat-card-header>
    <div mat-card-avatar class="header-wrap-img" >
      <img class="header-img"  [src]="product.imageUrl" alt="Product img">
    </div>
    <mat-card-title>{{product.title}}</mat-card-title>
    <mat-card-subtitle>&nbsp;</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image class="product-img" [src]="product.imageUrl" alt="Product img">
  <mat-card-content>
    <p>
      <span>Price: {{product.price | currency}}</span>
    </p>
  </mat-card-content>
  <mat-card-actions>
    <div class="wrapper-action" *ngIf="showActions && shoppingCart">
      <button
        *ngIf="shoppingCart.getQuantity(product) === 0; else updateQuantity"
        (click)="addToCart()"
        mat-raised-button
        class="w-100"
        color="primary"
      >Add to cart</button>

      <ng-template #updateQuantity>
        <app-product-quantity [shoppingCart]="shoppingCart" [product]="product"></app-product-quantity>
      </ng-template>

    </div>

  </mat-card-actions>
</mat-card>
