.card-product {
  display: block;
  margin-bottom: 15px;
}
.header-wrap-img {
  border-radius: 50%;
  overflow: hidden;

}
.header-img {
  max-width: 50px;
  height: 50px;
  object-fit: cover;
}

.btn-action {
  min-width: 30px!important;
}
.action-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-img {
  max-height: 150px;
  object-fit: cover;
}
