<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" routerLink="/">Oshop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/shopping-cart'">Shopping cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/products'">Products</a>
        </li>
        <li class="nav-item"
            *ngIf="!user; else ononymousUser"
        >
          <a class="nav-link" [routerLink]="'/login'">Login</a>
        </li>
        <ng-template #ononymousUser>
          <li>
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{ user?.name}}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button routerLink="/my/orders" class="dropdown-item">My orders</button>
                <ng-container *ngIf="user?.isAdmin">
                  <button routerLink="/admin/orders" class="dropdown-item">Manage orders</button>
                  <button routerLink="/admin/products" class="dropdown-item">Manage products</button>
                </ng-container>
                <button class="dropdown-item"
                        (click)="logout()"
                >Log out</button>
              </div>
            </div>
          </li>
        </ng-template>

      </ul>

    </div>
  </nav>
</header>
