<!--<div *ngIf="!showAllMessage; else allMessage">-->
  <!--<p *ngIf="messages">-->
    <!--{{messages}}-->
  <!--</p>-->
<!--</div>-->
<!--<ng-template #allMessage>-->
  <!--<p *ngFor="let message of messages">-->
    <!--{{message}}-->
  <!--</p>-->
<!--</ng-template>-->


<!--<app-min-length-error>-->
  <!--<ng-content select=".min-length"></ng-content>-->
<!--</app-min-length-error>-->
<!--<app-max-length-error>-->
  <!--<ng-content select=".max-error"></ng-content>-->
<!--</app-max-length-error>-->

<div [ngSwitch]="errorsType"
     [hidden]="getStateFocused()"
><!--[hidden]="getStateFocused()" this need for show error when input have a focus-->

  <app-min-length-error
    *ngSwitchCase="'minlength'"
    [message]="errorMessage"
  >
    <ng-content select=".min-error"></ng-content>
  </app-min-length-error>


  <app-max-length-error
    *ngSwitchCase="'maxlength'"
    [message]="errorMessage"
  >
    <ng-content select=".max-error"></ng-content>
  </app-max-length-error>

  <app-required-error
  *ngSwitchCase="'required'"
  [message]="errorMessage"
  >
    <ng-content select=".required-error"></ng-content>
  </app-required-error>

  <app-str-empty
    *ngSwitchCase="'strEmpty'"
    [message]="errorMessage"
  >
    <ng-content select=".empty-error"></ng-content>
  </app-str-empty>

  <app-url-pattern-error
    *ngSwitchCase="'patternUrl'"
    [message]="errorMessage">
    <ng-content select=".patternUrl-error"></ng-content>
  </app-url-pattern-error>
  <app-negative-error
    *ngSwitchCase="'isNegative'"
    [message]="errorMessage">
    <ng-content select=".isNegative-error"></ng-content>
  </app-negative-error>
  <app-password-match-error
    *ngSwitchCase="'passwordMatch'"
    [message]="errorMessage">
    <ng-content select=".password-match-error"></ng-content>
  </app-password-match-error>
  <app-pattern-email-error
    *ngSwitchCase="'patternEmail'"
    [message]="errorMessage">
    <ng-content select=".password-match-error"></ng-content>
  </app-pattern-email-error>
</div>
