<h1>Shopping Cart</h1>

<ng-container *ngIf="cart$ | async as cart">

  <p>
    You have {{cart.allCountProduct }} items in your shopping cart.

    <button
      *ngIf="cart.products.length"
      mat-button
      (click)="openConfirm()"
    >Clear shopping cart</button>
  </p>
  <table class="table">
    <thead>
    <tr>
      <th></th>
      <th>Product</th>
      <th class="quantity">Quantity</th>
      <th class="price">Price</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of cart.products">
      <td>
        <img class="thamb" [src]="item.product.imageUrl || 'assets/image/blank.jpg'" alt="img">
      </td>
      <td>{{item.product.title}}
      </td>
      <td class="td-quantity">
        <app-product-quantity class="actions" [shopping-cart]="cart" [product]="item.product"></app-product-quantity>
      </td>
      <td class="price">{{item.totalPrice | currency}}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <th>Total Price:</th>
      <th></th>
      <th></th>
      <th class="price">{{cart.totalPrice | currency}}</th>
    </tr>
    </tfoot>
  </table>
  <a
    routerLink="/check-out"
    mat-raised-button
    color="primary"
    class="checkout"
    *ngIf="cart.products.length"
    (click)="checkOut()"
  >Check out</a>
</ng-container>
