<h1>Shopping Cart</h1>

<ng-container *ngIf="cart$ | async as cart">

  <p>
    You have {{cart.allCountProduct }} items in your shopping cart.
  </p>
  <table class="table">
    <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of cart.products">
      <td>{{item.product.title}}
      </td>
      <td>
        <app-product-quantity class="actions" [shopping-cart]="cart" [product]="item.product"></app-product-quantity>
      </td>
      <td>{{item.totalPrice | currency}}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <th>Total Price:</th>
      <th></th>
      <th>{{cart.totalPrice | currency}}</th>
    </tr>
    </tfoot>
  </table>
  <button
    mat-raised-button
    color="warn"
    (click)="openConfirm(cart.key)"
  >Clear shopping cart</button>
</ng-container>
