/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  padding-top: 140px;
  font-family: 'Merriweather Sans', sans-serif;
}


/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {
  body {
    padding-top: 80px;
  }
}

label {
  font-size: 14px;
  font-weight: 400;
}
